*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #01d277;
  --secondary-color: #212121;
  --background-color: #2d2d2d;
  --text-color: #9c9c9c;
  --heading-color: #ccc;
  --star-color: #ffc000;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-size: 1.8rem;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
}

.prev-movie,
.next-movie {
  width: 8rem;
  height: 8rem;
  color: white;
  font-size: 4rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.prev-movie {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.next-movie {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.movie-genre {
  transition: color 0.4s;
  color: white;
}

.movie-genre:not(:last-child):after {
  content: ",";
}

.movie-genre:not(:last-child) {
  margin-right: 0.5rem;
}

.movie-genre:hover {
  color: var(--primary-color);
}

.text-normal {
  color: var(--text-color);
}

.text-small {
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  text-align: center;
  width: 20rem;
  height: 5rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.8rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #12b46d;
}

@media only screen and (max-width: 1366px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .movie-genre {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .movie-genre {
    font-size: 1rem;
  }
  .prev-movie,
  .next-movie {
    background-color: transparent;
  }
  .next-movie {
    transform: translate(20%, -50%);
  }
  .prev-movie {
    transform: translate(-20%, -50%);
  }
}
